# Metadados de IDEs
.metadata/
.project
.classpath
.settings/
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Java
*.class
target/
bin/
out/

# Sistema operacional
.DS_Store
Thumbs.db
